.content {
    margin-top: 86%;
    margin-left: 39%;
}

.fundo {
    background: url(/assets/plano_laranja.jpg);
    display: table;
    background-size: cover;
}

form {
    width: 300px;
    height: 450px;
    left: 700px;
    top: 329px;
    background: linear-gradient(180deg, #EFEFEF 0%, rgba(240, 240, 240, 0.994792) 0.01%, #FFFFFF 52.08%, #ECECEC 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8%;
}

form img {
    margin-left: 82px;
    width: 100px;
    height: 100px;
}

.login {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: auto;
    margin-left: 13%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

form fieldset {
    display: flex;
    border: 0;
}

form fieldset input {
    margin-left: 30px;
    font-size: 20px;
    width: 200px;
    height: 50px;
    background: #fff8f8;
    border: 3px solid rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
}

form button {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    width: 100px;
    height: 38px;
    background: #2662D0;
    border-radius: 5px;
    border: 0;
    margin-left: 92px;
    transition: background-color 400ms;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(212, 124, 41);
}
