.fundoProp {
    background: url(/assets/plano_cinza.jpg);
    display: table;
    background-size: cover;
}

header {
    display: flex;
}

form {
    margin: 10em 0 0 30em;
    padding: 5px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #EFEFEF 0%, rgba(240, 240, 240, 0.994792) 0.01%, #FFFFFF 52.08%, #ECECEC 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2%;
}

form img {
    margin-top: 10px;
    margin-left: 20px;
    width: 70px;
    height: 70px;
}

form h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    margin-left: 10%;
    color: rgba(218, 129, 14, 0.849);
}

form fieldset {
    border: 0;
}

form legend {
    margin-bottom: 5px;
    display: flex;
}

form legend h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

form label {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

form .field-group {
    display: flex;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

form input, form select {
    height: 20px;
    background: #FFFEFE;
    border: 0;
    font-size: 16px;
    outline: none;
    border: 3px solid rgba(0, 0, 0, 0.24);
    border-radius: 8px;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cep button {
    margin-bottom: 20px;
    margin-left: 1px;
    color: #ffffff;
    width: 90px;
    height: 30px;
    font-size: 14px;
    background: rgb(134, 134, 134);
}

form button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    width: 130px;
    height: 38px;
    background: #2662D0;
    border-radius: 5px;
    border: 0;
    margin-left: 300px;
    margin-top: 15px;
    transition: background-color 400ms;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(212, 124, 41);
}

.cep button:hover {
    background-color: rgb(105, 103, 102);
}
